body
{
	font-family: sans-serif;
	background: color: orange;
	background-image: url(images/PageGradient4.jpg);
}
h1{
	font-weight: bold;
	height: 3;
	text-align: center;
}
li
{
	list-style-type: disc;
}
.main
{
	font-size: medium;
	margin-left: 20%;
}
.commentary
{
	font-style: italic;
	margin-left: 50px;
	margin-right: 50px;
	border-bottom: medium solid silver;
	padding: 10px 50px;
	border-top: medium solid silver;
}
.selectors, .output
{
	margin-left: 20%;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}
.selectors
{
	font-size: medium;
}
#heading
{
	text-align: center;
}
p
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	text-align: center;
	line-height: -5px;
}